{% extends "base/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
    <div id="loginForm">
        <form method="post" action="{% url auth_login %}">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>

        {% if next %}
            <input type="hidden" name="next" value="{% if next %}{{ next }}{% endif %}" />
        {% endif %}
        <input type="submit" name="login" value="{% trans "login" %}"/>
        </form>
    </div>

{% endblock %}
